<%= form_with(model: family_member, local: true) do |form| %>
  <% if family_member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(family_member.errors.count, "error") %> prohibited this family_member from being saved:</h2>

      <ul>
        <% family_member.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name,class: "form-control" ,:required => true%>
  </div>

  <div class="field">
    <%= form.label :nakshatra %>
    <%= form.select(:nakshatra, options_for_select(NAKSHATRA_LIST.keys), { :selected => family_member.nakshatra}, {class: "form-control"}) %>


</div>
  <!-- <div class="field">
    <%= form.label :dob %>
    <%= form.datetime_select :dob, data:{ provide:'datepicker' }  %>
  </div> -->
    <div class="field">
  <%= form.label :gotra %><br />

  <%= form.select(:gotra,   options_for_select(Gotra.order("name").collect{ |u| [u.name, u.name] }), {:selected => family_member.gotra}, {class: "form-control"}) %>



</div>
              <%= form.label :rashi %><br />
              <%= form.select(:rashi, options_for_select( family_member.nakshatra ? NAKSHATRA_LIST[family_member.nakshatra] : NAKSHATRA_LIST["Aarudra"]), {:selected => family_member.rashi}, {class: "form-control"}) %>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<script>
$('#family_member_nakshatra').on('change', function (e) {
  var nakshatra = $(this).val();

var option_values = "<%=NAKSHATRA_LIST.to_json%>"
var values = option_values.replace(/&quot;/g,'"')
var data = JSON.parse(values)

      $('#family_member_rashi').find('option')
      .remove()

      for(var i = 0; i < data[nakshatra].length; i++) {


        $('#family_member_rashi').append('<option value="'+data[nakshatra][i]+'">'+data[nakshatra][i]+'</option>');

      }


})

</script>
