<p id="notice"><%= notice %></p>

<h1>Seva Types</h1>

<table style="width: 100%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Group Booking</th>
      <th>Maximum Number Per Booking</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @seva_types.each do |seva_type| %>
      <tr>
        <td><%= seva_type.name %></td>
          <td><%= seva_type.group_booking ? "Yes": "No" %></td>
            <td><%= seva_type.maximum_number_per_booking %></td>

        <td><%= link_to 'Edit', edit_seva_type_path(seva_type) %></td>
        <td><%= link_to 'Destroy', seva_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Seva Type', new_seva_type_path %>
