<p id="notice"><%= notice %></p>

<h1>Sevas</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Instructions</th>
      <th>Rate</th>
      <th>Identification number</th>
      <th>Status</th>
      <th>Audit logs</th>
      <th>Edit</th>
    </tr>
  </thead>

  <tbody>
    <% @sevas.each do |seva| %>
      <tr>
        <td><%= seva.name %></td>
        <td><%= seva.instructions %></td>
        <td><%= seva.rate %></td>
        <td><%= seva.id %></td>
        <td><%= seva.status %></td>
        <td><%= seva.audit_logs %></td>

        <td><%= link_to 'Edit', edit_seva_path(seva) %></td>
            </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Seva', new_seva_path %>
